.sidebar {
    position: relative;
    display: flex;
    width: 1.6vw;
    height: 92.1vh;
    background-color: rgb(51 65 85);
    transition: 0.1s;
    overflow-x: hidden;
}

.sidebar.active {
    width: 16vw;
    background-color: rgb(51 65 85);
}

.button_toggle {
    position: absolute;
    top: 9px;
    right: -30%;
}

.button_toggle.active {
    position: absolute;
    top: 9px;
    right: 10px;
}
